unbind r

bind r source-file ~/.tmux.conf

# remap prefix from 'C-b' to 'C-a'
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

set-window-option -g mode-keys vi
bind -T copy-mode-vi v send-keys -X begin-selection
bind -T copy-mode-vi y send-keys -X copy-pipe-and-cancel 'xclip -in -selection clipboard'

# vim-like pane switching
bind -r ^ last-window
bind -r k select-pane -U
bind -r j select-pane -D
bind -r h select-pane -L
bind -r l select-pane -R

# Start windows and panes at 1, not 0
set -g base-index 1
setw -g pane-base-index 1

# colors
set -g status-bg "#191724" 
set -g status-fg "#ffffff" 
setw -g window-status-current-style fg=black,bg=#ed8796
setw -g window-status-style fg=white,bg=black

set -as terminal-features ",*:RGB" 
set -ag terminal-overrides ",xterm-255color:RGB"

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'


run '~/.tmux/plugins/tpm/tpm'
